@import '~sass/mixins.scss';
@import '~sass/colors.scss';
@import '~sass/fonts.scss';

@mixin onFocus($accent) {
  background-color: $accent;

  & ion-icon {
    color: $black;
  }

  & input {
    background-color: $reactify-alt-gray;

    color: $white;

    &::placeholder {
      color: $white;
    }
  }
}

@mixin container($accent) {
  @include rounded-elm(0.8rem);

  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 35rem;
  height: 4.5rem;
  overflow: hidden;

  &.ghost {
    background: none;
    border: 0.1rem solid $accent;
  }

  &.colored {
    background-color: $reactify-alt-gray;
  }

  &:focus-within {
    @include onFocus($accent);
  }

  & ion-icon {
    font-size: 2.4rem;
    margin-right: 0.2rem;

    color: $accent;
  }

  & input {
    @include rounded-elm(2.5rem);

    width: 89%;
    height: 50%;
    z-index: 10;
    padding: 1.7rem;
    border: none;
    font-size: 1.5em;
    background-color: $reactify-light-gray;
    margin-right: 0.6rem;

    &:focus {
      outline: none;
    }
  }
}

.input-container-teal {
  @include container($teal);
}

.input-container-purple {
  @include container(lighten($purple, 10%));
}

.input-container-red {
  @include container($red);
}
