$reactify-gray: #282c34;
$reactify-blue-gray: #2d384b;
$reactify-medium-gray: #414752;
$reactify-alt-gray: #636363;
$reactify-light-gray: #ffffffa4;

$white: #fff;
$black: #000;

$translucent: hsla(220, 13%, 18%, 0.74);
$transparent: rgba(255, 255, 255, 0);

// accents
$teal: #09d3ac;
$purple: #948ced;
$red: #b34f44;
