@import '~sass/colors';
@import '~sass/fonts';
@import '~sass/mixins';

@mixin btn-gen($color) {
  @include rounded-elm(0.8rem);
  @include display-flex;

  text-transform: capitalize;
  padding: 0.7rem 4rem;
  transition: all 0.2s;
  font-size: 1.6rem;
  color: $color;
  outline: none;
  cursor: pointer;

  & ion-icon {
    margin-right: 0.8rem;
    font-size: 2.4rem;
    transform: translateY(0.1rem);
  }

  &.transparent {
    background: none;
    border: 0.1rem solid $color;
  }

  &.colored {
    background-color: $reactify-alt-gray;
    border: none;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 30px rgba($black, 0.2); /* x, y, blur color */
    background-color: $color;
    color: $black;

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba($black, 0.2); /* x, y, blur color */
  }

  &.animated {
    animation: moveInUp 0.5s ease-out 0.75s;
    animation-fill-mode: backwards; /* start animation from the beginning */
  }

  &::after {
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: all 0.4s;
  }
}

.btn-teal {
  @include btn-gen($teal);
}

.btn-purple {
  @include btn-gen($purple);
}

.btn-red {
  @include btn-gen($red);
}

.rounded {
  @include rounded-elm(5rem);
}

.danger {
  background-color: $danger-red !important;
  color: white;

  &:hover {
    background-color: $danger-red-light !important;
    color: white !important;
  }
}
