@import '~sass/mixins';

.panel {
  @include reactify-elm;

  display: flex;
  flex-direction: column;
  align-items: center;
  background: inherit;
  overflow: hidden;

  width: 60rem;
  height: 40rem;
  transform: translateY(-5rem);
}
