@import '~sass/colors.scss';
@import '~sass/mixins.scss';

.page-container {
  @include display-flex;

  color: $white;
  height: 100vh;
}

.login-background {
  background: url('~static/background.jpg');
  background-size: cover;
}

.header {
  transform: translateX(-1.2rem);
  margin-bottom: 3.5rem;
}

.button-container {
  margin-top: 1.2rem;

  .login-button {
    margin-top: 1.7rem;
    & button {
      padding: 1rem 2rem;
      text-transform: none;
      font-size: 1.9rem;
      width: 28rem;
    }
  }
}
