@import '~sass/mixins';

.login-container {
  @include reactify-elm;

  display: flex;
  flex-direction: column;
  align-items: center;
  background: inherit;
  overflow: hidden;

  width: 60rem;
  height: 40rem;
  transform: translateY(-5rem);
}

.login-header {
  transform: translateX(-1.2rem);
  margin-bottom: 2.5rem;
}

.login-blur {
  background: inherit;
  z-index: -10px;
}

.input {
  margin-bottom: 2.5rem;
}

.buttons {
  @include display-flex;
  width: 100%;
  padding: 0 14rem;
  margin: 2rem 0;

  justify-content: space-evenly;
}
