@import url('https://fonts.googleapis.com/css?family=Noto+Sans+HK:400,700&display=swap');
@import './sass/colors.scss';
@import './sass/fonts.scss';

*,
*::after,
*::before {
  @include NotoSansHK-Regular;

  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* change the box model so that the borders 
  and the padding are no longer added to the 
  total width or the total height of the element */
}

html {
  // this defines what 1 rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  z-index: -2;
  background-color: $reactify-gray;
}
